body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
}

/* button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
} */

.group:hover .group-hover\:flex {
	display: flex !important;
}

#usernameForm {
    display: flex;
    align-items: center;
  }
  
  #customerID {
    margin-right: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  button:hover {
    color: #fff;
  }
  
  /* Remove the margin-left: auto; from the button */
  